@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */





.navbar-brand {
  color: #F6F3ED;
}

body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-toggle {
  background: transparent;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  outline: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}

#hero .d-flex {
  height: 800px;
}

#cta {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
  
  #infolist {
    text-align: center;
  }

  .navbar-toggle {
    display: none;
  }
}






#hero {
  padding-top: 8rem;
}

#button {
  background-color: #2e483a;
}

.beige accordion {
  background-color: rgb(255, 249, 242);
}

/* figure > img {
  border-radius: 50%;
  margin-top: 1em;
} */

:root {
  --primary: #2e483a;
  --light: #F6F3ED;

  --bs-primary: #2e483a;
  --bs-primary-rgb: 46, 72, 58;

  --bs-primary-light: #F6F3ED;
  --bs-primary-light-rgb: 246, 243, 237;
}


@media (max-width: 768px) {
  .mealprep {
      text-align: center;
  }

  .mealprep {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .item1 { order: 2; }
  .item2 { order: 1; }
}